@font-face {
    font-family: roboto-regular;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../assets/fonts/roboto/Roboto-Medium.ttf);
}

.flex1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 5%;
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login a{
    text-decoration: none;
    color: #492340;
    font-family: roboto-bold;
}

.login input{
    width: 100%;
    padding: 8px 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #492340;
}

.btn3{
    background-color: #492340;
    color: #fff;
    padding: 8px;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: roboto-bold;
    cursor: pointer;
}

.login-title{
    text-align: center;
    font-family: roboto-bold;
}

.login p{
    text-align: center;
    font-family: roboto-light;
}

.login-space{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.separator{
    height: 80vh;
    width: 4px;
    margin-top: 4%;
    background-color: #492340;
    box-shadow: 12px 12px 4px 0 #000;

}

.new-password{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.separator2{
    height: 80vh;
    width: 4px;
    background-color: #492340;
    box-shadow: -12px 12px 4px 0 #000;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-image: url(../images/e-candidat6-removebg-preview.png); */
    /* background-color: #00000074; */
    background-size: cover;
    background-position: center;
}

.new-space{
    display: flex;
    gap: 10px;
}

.form-flex{
    display: flex;
    gap: 40px;
}

.home-admin{
    margin: 0 20px 0 20px;
}
.home-admin a{
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-family: roboto-bold;
}

.home-admin a:hover{
    text-decoration: none;
    padding: 10px;
    background-color: #492340;
    color: #fff;
    border-radius: 5px;
    font-family: roboto-bold;
}

.home-admin1{
    margin: 0 30px 0 30px;
    margin-top: 5%;
}

.barniere{
    background-image: url(../images/e-candidat12.png);
    background-position: center;
    background-size: cover;
    height: 70vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TITLE{
    position: relative;
    transform: rotate(-30deg);
    color: #492340;
    background-color: #ffffff1f;
    border: #492340 1px solid;
    font-size: 2rem;
    text-transform: uppercase;
    /* animation: TITLE 1.5s linear infinite; */
    animation: TITLE 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes TITLE{
    0%{
        transform: rotate(-20deg) scale(1);
    }
    50%{
        transform: rotate(-20deg) scale(1.5);
    }
    100%{
        transform: rotate(-20deg) scale(1);
    }
}

.activity-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.activity-section h1{
    text-align: center;
}

.activity-section-- img{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100px 0 100px 0;
    box-shadow: -20px 30px 10px 10px #49234037;
}

.activity-section--{
    display: flex;
    gap: 30px;
    
}
.activity-section---{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.activity-section--- a{
    text-decoration: none;
    background-color: #492340;
    color: #fff;
    font-family: roboto-medium;
    padding: 8px 12px;
    border-radius: 4px;
}

.animated{
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: slidein;
    color: #3c0930;
}

@keyframes slidein {
    from {
    margin-left: 100%;
    width: 300%; 
    }

    to {
    margin-left: 0%;
    width: 100%; 
    }
}