@font-face {
    font-family: roboto-regular;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../assets/fonts/roboto/Roboto-Medium.ttf);
}

.flex1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login a{
    text-decoration: none;
    color: #492340;
    font-family: roboto-bold;
}

.login input{
    width: 100%;
    padding: 8px;
    background-color: #fff;
    border: #492340 2px solid;
    border-radius: 5px;
}

.btn3{
    background-color: #492340;
    color: #fff;
    padding: 8px;
    width: 70%;
    border-radius: 5px;
    border: 2px solid #000;
    font-size: 16px;
    font-family: roboto-bold;
    cursor: pointer;
}

.login-title{
    text-align: center;
    font-family: roboto-bold;
}

.login p{
    text-align: center;
    font-family: roboto-light;
}

.login-space{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.separator{
    height: 80vh;
    width: 4px;
    background-color: #492340;
    margin-top: 50px;
    box-shadow: 12px 12px 4px 0 #000;

}

.separator2{
    height: 80vh;
    width: 4px;
    background-color: #492340;
    margin-top: 50px;
    box-shadow: -12px 12px 4px 0 #000;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url(../images/e-candidat6-removebg-preview.png);
    background-size: cover;
    background-position: center;
}

.new-space{
    display: flex;
    gap: 10px;
}

.form-flex{
    display: flex;
    gap: 40px;
}

.home-admin{
    margin: 0 20px 0 20px;
}
.home-admin a{
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-family: roboto-bold;
}

.home-admin a:hover{
    text-decoration: none;
    padding: 10px;
    background-color: #492340;
    color: #fff;
    border-radius: 5px;
    font-family: roboto-bold;
}

.home-admin1{
    margin: 0 30px 0 30px;
    margin-top: 5%;
}