@font-face {
    font-family: roboto-regular;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../assets/fonts/roboto/Roboto-Medium.ttf);
}

.ouroffers-full-container{
    max-width: 600px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.ouroffers-container{
    background-color: #49234043;
    border: #492340 1px solid;
    box-shadow: 0px 0px 20px 0px #492340;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 60px 0;
}

.ouroffers-container h2{
    text-align: center;
    font-family: roboto-bold;
}

.details-offers{
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px; 
}

.details-offers a{
    background-color: #492340;
    padding: 8px;
    color: #fff;
    font-family: roboto-bold;
    text-decoration: none;
    border-radius: 5px;
}

.details-offers-flex{
    display: flex;
}

.details-offers-flex2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.specifics-full-container-ressource{
    max-width: 400px;
    margin: auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #492340;
}

.specifics-full2-container-ressource{
    max-width: 600px;
    margin: auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #492340;
}

.specifics-full2-container-ressource-list{
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #492340;
}

.ressource-container-{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.ressource-container- input{
    padding: 8px;
    font-size: 18px;
    border: 1px solid #492340;
    border-radius: 4px;
}

.ressource-container- button{
    padding: 8px;
    background-color: #492340;
    color: #fff;
    border: none;
    font-size: 18px;
    font-family: roboto-medium;
    transition: 2s;
    border-radius: 4px;
}

.ressource-container- button:hover{
    padding: 8px;
    background-color: #fff;
    color: #492340;
    border: 1px solid #492340;
    font-size: 18px;
    font-family: roboto-medium;
    transition: 2s;
}
